#pad-bottom-right, #pad-bottom-left, #pad-top-right, #pad-top-left {
  background: white;
  width: 40%;
  height: 40%;
  position: absolute;
}

#difficulty-section #btn-container input, main button {
  border-radius: 0.12em;
  text-decoration: none;
  font-weight: 600;
  color: white;
  text-align: center;
  transition: all 0.2s;
  width: 15em;
  height: 5em;
  text-transform: uppercase;
}
#difficulty-section #btn-container input:hover, main button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #0d2c54;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "btn-section-one gamepad-wrapper btn-section-two";
}
main #gamepad-wrapper {
  margin: 0 auto;
  align-self: center;
  grid-area: gamepad-wrapper;
  width: 35vw;
  height: 35vw;
  background: black;
  border-radius: 50%;
  position: relative;
}
main #gamepad-wrapper p {
  position: absolute;
}
main #btn-section-one {
  grid-area: btn-section-one;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6em 3em;
}
main #btn-section-two {
  grid-area: btn-section-two;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6em 3em;
}
main #btn-section-two button {
  background: #00a6ed;
}
main #btn-section-two button:hover {
  background: #54ccff;
}

#difficulty-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#difficulty-section #btn-container {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#difficulty-section #btn-container input {
  font-size: 24px;
  letter-spacing: 3.36px;
}
#difficulty-section #btn-container #btn-easy {
  background: #005f87;
}
#difficulty-section #btn-container #btn-easy:hover {
  background: #00a6ed;
}
#difficulty-section #btn-container #btn-medium {
  background: #395200;
}
#difficulty-section #btn-container #btn-medium:hover {
  background: #7fb800;
}
#difficulty-section #btn-container #btn-hard {
  background: #996c00;
}
#difficulty-section #btn-container #btn-hard:hover {
  background: #ffb400;
}
#difficulty-section #btn-container #btn-godmode {
  background: #a62d07;
}
#difficulty-section #btn-container #btn-godmode:hover {
  background: #f6511d;
}

header {
  position: absolute;
  top: 0;
  background: black;
  min-width: 100vw;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  color: white;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 48px;
  letter-spacing: 4.8px;
}

#control-pad {
  top: 9.1vw;
  bottom: 9.1vw;
  left: 9.1vw;
  right: 9.1vw;
  position: absolute;
  background: #0d2c54;
  border-radius: 50%;
  z-index: 1;
}

#start-button {
  top: 15.4vw;
  bottom: 15.4vw;
  left: 13.3vw;
  right: 13.3vw;
  position: absolute;
  background: black;
  border-radius: 44%;
  z-index: 2;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#start-button:hover {
  background: #333333;
}

#pad-top-left {
  background: #7fb800;
  top: 8%;
  left: 8%;
  border-radius: 260px 10px 160px 10px;
}

#pad-top-right {
  background: #f6511d;
  top: 8%;
  right: 8%;
  border-radius: 10px 260px 10px 160px;
}

#pad-bottom-left {
  background: #00a6ed;
  bottom: 8%;
  left: 8%;
  border-radius: 10px 160px 10px 260px;
}

#pad-bottom-right {
  background: #ffb400;
  bottom: 8%;
  right: 8%;
  border-radius: 160px 10px 260px 10px;
}

#result {
  font-weight: 600;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr 1fr;
    grid-template-areas: "gamepad-wrapper" "btn-section-one" "btn-section-two";
  }
  main #btn-section-one {
    padding: 3em 3em 0 3em;
  }
  main #btn-section-two {
    padding: 0 3em;
  }

  #gamepad-wrapper {
    min-width: 90vw;
    min-height: 90vw;
  }

  #start-button {
    top: 39.6vw;
    bottom: 39.6vw;
    left: 34.2vw;
    right: 34.2vw;
    position: absolute;
  }

  #control-pad {
    top: 23.4vw;
    bottom: 23.4vw;
    left: 23.4vw;
    right: 23.4vw;
    position: absolute;
  }
}

/*# sourceMappingURL=main.css.map */
